<div class="col-xs-10 col-xs-offset-1 about">

  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/kristinh12">Kristin</a>, a student learning web development at the Firehose Project.
  </p>
  <br />
  
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <br />

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'profile.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Kristin Heininger</h2>
    <br />
    <p>
    Kristin Heininger graduated from Rutgers University with a Master's degree in Math Education, and a Bachelor's in Math with a minor in Psychology. During her time on campus she was involved in mentoring new students on the Douglass campus, as well as Women in Math, and volunteered at a local elementary school in the city of New Brunswick. 
    </p>
    <br />
    <p>
    Since graduating she's been teaching mathematics for five years at a high-risk school teaching Geometry through AP Calculus BC. She is now using her passion of logic and problem solving to build web apps (with some teacher humor). She has studied Ruby on Rails, HTML, CSS, and JavaScript. 
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
