<div class="col-xs-10 col-xs-offset-1 about">

  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/kristinh12">Kristin</a>,a student learning web development at the Firehose Project.
  </p>
  <br />
  <p>
    Kristin studied math at Rutgers, and is now using her passion of logic and problem solving to build web apps (with some teacher humor). She has studied Ruby on Rails, as demonstrated with Splurty, as well as JavaScript.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <br />
  
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'Me(2).jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Kristin Heininger</h2>
    <br />
    <p>
    Kristin Heininger is currently a student at the Firehose Project. She studied Math and Education at Rutgers University and served as a mentor for first-year students and women in math on Douglass Campus. Since graduating, she has been teaching Geometry and AP Calculus at the high school level. 
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
