<h1 class="tag-line">
  <span>Splurty / No. <%= @quote.id %></span>
  You know you're a teacher when...
</h1>
<h1><%= @quote.saying %></h1>
<h2 class="author pull-right"><%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />